/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #130b26;
    background-color: #f6f8fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #130b26;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1260px;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    position: relative;
}

.site-header-logo {
    width: 250px;
    height: auto;
    position: relative;
}

.site-header-text {
    color: #bc9c53;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Prevents wrapping */
}

.linkedin-logo img {
    height: 32px;
    width: 32px;
}

/* Main Content Styles */
main {
    flex: 1;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.main-content {
    text-align: center;
}

.title p {
    margin-bottom: 20px;
    text-align: left;
}

.selection-box {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.file-upload {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    flex-direction: column;
}

.custom-file-upload {
    padding: 10px 20px;
    background-color: #130b26;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
    font: inherit;
    width: 200px;
}

.custom-file-upload:hover {
    background-color: #bc9c53;
    color: #130b26;
}

input[type="file"] {
    display: none;
}

.file-name {
    font-size: 1rem;
    color: #130b26;
    margin-top: 15px;
    margin-bottom: 15px;
}
.checkbox-group {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Hide default checkboxes */
.checkbox-group input[type="checkbox"] {
    display: none;
}

.custom-file-upload.submit {
    display: none;
    margin-top: 20px;
}

/* Style the label to look like buttons */
.checkbox-group label {
    background-color: #f6f8fa;
    border: 1px solid #130b26;
    color: #130b26;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}
 /* Active checkbox style */
.checkbox-group input[type="checkbox"]:checked + label {
    background-color: #130b26;
    color: #ffffff;
}

/* Hover effect */
.checkbox-group label:hover {
    background-color: #bc9c53;
    color: #ffffff;
}
/* Footer Styles */
#site-footer {
    background-color: #130b26;
    color: #bc9c53;
    padding: 10px 0;
    text-align: center;
}

.footer-content {
    margin: 0;
}

/* Loading Page Styles */
.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 100px; /* Adjust this value as needed to lower the circle */
}

.loading-circle {
    width: 80px;
    height: 80px;
    border: 10px solid #ccc; /* Background circle */
    border-top: 10px solid #bc9c53; /* Animated part of the circle */
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.result-tables {
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    margin-bottom: 20px;
}
.NBB {
    color: #130b26;
}
.table-title {
    font-size: 1.5rem;
    color: #130b26;
}

/* Modern Table Design */
.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    margin: 20px 0;
    font-size: 1rem;
    border-collapse: collapse; /* Removes borders between cells */
    border: none; /* Removes outside table border */
}

th, td {
    padding: 10px;
    border: none; /* Removes any internal borders */
}

th {
    text-align: center; /* Centers header text by default */
    background-color: #130b26; /* Matches the background of the website */
    color: #bc9c53; /* Text color for contrast */
}

/* Ensure the first column (index column) is aligned left */
th:first-child, 
td:first-child {
    text-align: left !important; /* Force left alignment for first column */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr td:not(:first-child),
tr th:not(:first-child) {
    text-align: center; /* Center-align other columns */
}
